<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index of <%= ex_title || "Index" %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        body, html{
            font-size: 13px;
            font-family: Arial, sans-serif;
            cursor: default
        }
        table{
            min-width: 70%;
            text-align: left;
        }
        table tr th{
            font-weight: bold;
            cursor: pointer;
        }
        table tr td:nth-of-type(2){
            cursor: pointer;
        }
        table tr td:first-of-type{
            width: 25px;
        }
        table a{
            color: blue;
            cursor: pointer;
            text-decoration: underline;
        }
        table a:active{
            color: purple;
        }
    </style>
</head>
<body>

<div id="app">
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Size</th>
        </tr>
        <tr v-if="path.length > 0">
            <td><img :src="getIcon(true)" alt="..."></td>
            <td v-on:click="nav( '*', $event )"><a>...</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-for="item, key in cwd">
            <td><img :src="getIcon( cwd[key] )"></td>
            <td v-if="cwd[key]['loc']"><a :href="getLink( key )">{{ key }}</a></td>
            <td v-if="!cwd[key]['loc']" v-on:click="nav(key)">{{ key }}</td>
            <td>{{ cwd[key]['mtime'] || '...' }}</td>
            <td :title="cwd[key]['size_f'] || ''">{{ cwd[key]['size'] || '...' }}</td>
        </tr>
    </table>
</div>

<script>
    new Vue({
        el : "#app",
        data : {
            ready : false,
            dir : JSON.parse(<%- JSON.stringify(JSON.stringify( exindex )); %>),
            cwd : {},
            path : []
        },
        mounted : function(){
            this.$nextTick(function(){
                this.cwd = this.dir;
            })
        },
        methods : {
            getLink : function(s){
                return this.cwd[s]['loc'] ? "\\" + this.cwd[s]['loc'] : '#';
            },
            getIcon : function(s){
                if(typeof s === "object"){
                    if(s['loc']) return "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAYUlEQVR4nGNkYGBgqKmp+c+AB7S0tDCiCNTU1PzHBdavX/8f2UAmfCbDgLGxMdwVRGlA1sRCSGFAQACcffbsWeJtgAE6afj+/TtRir9//z5o/UAKYGRgYGAoLi7Gm/iQAQC+qjWGF5ecJwAAAABJRU5ErkJggg==";
                    else return "data:image/gif;base64,R0lGODlhEAAOALMIAJdaH+C6eJ9oJMOHNK1zLf/inv/Sg////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAgALAAAAAAQAA4AAARAEMlJq7136IEnOeBBdENhGkGwadQQviE3lWZtAxRhE3zvIzpT0HYaCQwGAnLJHCEASabU+VRKl1SJYMvtdr6ICAA7";
                } else return " data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEuNWRHWFIAAAFKSURBVDhPY6AZ+A8EDKGrmKFc0gDPtv//5XcDDYjfzwEVIhLU/2eSAmqU3wU1IO0MF1SGCJB2hlV7z7//clt/Q/C2P/8liTYAqDn+8Pf/0ss+oWC5bX8x8cYfB+VWfc6Vm/tCCRhSjEBn72fJOfj5v/j050RhsRkvrknMeNEuNeulAdgA4eprK4Vqrv4Xqr2GH1dd+S/ceOu/SNeDayKd99pFu+5DDOCtuCYs1nTzqHDz7f/oWKr9DgaWbr19TarldrtUy00DYFwDvQAEYq13xWU67x4Dmvofhrlb7/3X670/QW/qvT5krDvtQbbO1Hv2VpMfSoE1w4BIywNJ2UkPj4v1P/4Pw5L1T0mIRiCQmPhMVGryk4Pi018AA+zFf8mZJBoAAkBNItKzXh6TWvaGPANAQGTGK0m1llcF8vPvk5iUkQEshGkLGBgADLf8U4fFVOgAAAAASUVORK5CYII=";
            },
            travel : function(path){
                var current = this.dir;
                var valid = true;
                for(var item in path){
                    if( current[path[item]] ){
                        current = current[path[item]];
                        if(current['loc']) valid = false;
                    } else valid = false;
                }
                return { valid : valid, obj : current, path : path };
            },
            nav : function(target){

                var temp_path = JSON.parse(JSON.stringify(this.path));
                if(target === '*') temp_path.splice(-1,1);
                else temp_path.push(target)
                var response = this.travel(temp_path);

                if(response.valid === true){
                    this.path = response.path;
                    this.cwd = response.obj;
                } else {
                    if(response.obj['loc']) window.location = response.obj['loc']
                }
            }
        }
    })
</script>
</body>
</html>
